body {
     background-color: #fff;
     --primary-color: rgb(168, 99, 53);
     --secondary-color: rgb(5, 5, 5);
     font-family: "Golos Text", sans-serif;
     position: relative;
}
.product_us {
     position: relative;
}
.product_us .img {
     position: relative;
}
.product_us .img::before {
     position: absolute;
     content: "";
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.445);
}
.product_us h1 {
     position: absolute;
     color: #fff;
     top: 48%;
     left: 48%;
     font-size: 50px;
}
.product_us .text {
     position: absolute;
     color: #fff;
     top: 70%;
     left: 47.5%;
}
.product_us .text a {
     color: #fff;
}
.product_us-content {
     margin-top: 100px;
     color: rgba(0, 0, 0, 0.692);
}
.product_us-content a i {
     color: rgba(0, 0, 0, 0.692);
}
.product_us-content .info:hover i {
     color: var(--primary-color);
}
.product_us-content .info {
     position: relative;
}
.product_us-content .show {
     position: absolute;
     width: 90%;
     background-color: #fff;
     font-size: 14px;
     border-radius: 4px;
     border: 1px solid gray;
     top: 300%;
     padding: 20px;
     opacity: 0;
     z-index: 999;
     transition: 0.5s;
}
.product_us-content .info:hover .show {
     opacity: 1;
     top: 150%;
}
.product_us-content .show-1 {
     position: absolute;
     width: 60%;
     background-color: #fff;
     font-size: 14px;
     border-radius: 4px;
     border: 1px solid gray;
     top: 300%;
     padding: 20px;
     opacity: 0;
     z-index: 999;
     transition: 0.5s;
}
.product_us-content .show a li {
     text-align: center;
     transition: 0.5s;
}
.product_us-content .show a li:hover {
     color: var(--primary-color);
}
.product_us-content .show-1 a li {
     text-align: center;
     transition: 0.5s;
}
.product_us-content .show-1 a li:hover {
     color: var(--primary-color);
}

.product_us-content .info:hover .show-1 {
     opacity: 1;
     top: 150%;
}
.product_us-content .card {
     position: relative;
     margin-top: 30px;
}
.product_us-content .card .icon {
     position: absolute;
     top: 80%;
     left: 15%;
}
.product_us-content .card .icon i {
     border: 1px solid rgba(179, 86, 24, 0.295);
     padding: 10px;
     color: #0000009f;
     margin-left: 10px;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     transition: 0.5s;
     opacity: 0;
}
.product_us-content .card .icon i:hover {
     color: #fff;
     background-color: var(--primary-color);
}
.product_us-content .product-card:hover i {
     opacity: 1;
     margin-top: 0px;
}
.product-card img {
     border: 1px solid rgba(179, 86, 24, 0.356);
}
.product-card .card-content {
     text-align: center;
     margin-top: 10px;
}
.product-card .card-content a {
     font-size: 20px;
     font-weight: 500;
     transition: 0.5s;
}
.product-card .card-content a:hover {
     color: var(--primary-color);
}
.product-card .card-content ul li span {
     font-size: 20px;
     font-weight: 100;
}
.product_us-content .search {
     position: relative;
     margin-left: 60px;
}
.product_us-content .search input {
     padding: 10px;
     width: 100%;
}
.product_us-content .search a {
     position: absolute;
     left: 80%;
     top: 25%;
}
.product_us-content .categories {
     margin-left: 70px;
     margin-top: 50px;
}
.product_us-content .categories h3 {
     color: black;
     font-weight: 300;
}
.product_us-content .categories ul li {
     margin-top: 20px;
     transition: 0.5s;
}
.product_us-content .categories ul li:hover {
     color: var(--primary-color);
     padding-left: 20px;
}
.product_us-content .price-filter {
     margin-left: 70px;
     margin-top: 50px;
}
.product_us-content .price-filter h3 {
     color: black;
     font-weight: 300;
}
.product_us-content .price-filter .price {
     border: 1px solid gray;
     text-align: center;
     width: 120%;
     padding-top: 12px;
     margin-top: 20px;
     transition: 0.5s;
}
.slidecontainer {
     width: 100%;
}
.slider {
     -webkit-appearance: none;
     width: 100%;
     height: 5px;
     border-radius: 5px;
     background: #d1cdc8;
     outline: none;
     opacity: 0.7;
     -webkit-transition: 0.2s;
     transition: opacity 0.2s;
}
.slider:hover {
     opacity: 1;
}
.slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 16px;
     height: 16px;
     border-radius: 50%;
     background: var(--primary-color);
     cursor: pointer;
}
.slider::-moz-range-thumb {
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background: var(--primary-color);
     cursor: pointer;
}
.product_us-content .price {
     margin-top: 60px;
     margin-left: 70px;
}
.product_us-content .price h1 {
     color: black;
     font-weight: 300;
     font-size: 28px;
}
.popular-products {
     margin-top: 60px;
     margin-left: 70px;
}
.popular-products img {
     border: 1px solid gray;
     width: 70%;
     height: 85%;
}
.popular-products h3 {
     color: black;
     font-weight: 300;
     padding-bottom: 16px;
}
.popular-products ul li {
     margin-left: -30px;
     transition: 0.5s;
}
.popular-products-card:hover li {
     color: var(--primary-color);
}
.instar {
     margin-top: 40px;
     margin-left: 70px;
}
.instar h3 {
     color: black;
     font-weight: 300;
}
.instar a {
     margin-left: -30px;
}
.instar img {
     transition: 0.5s;
}
.instar a:hover img {
     transform: scale(1.1);
}
.tags {
     margin-left: 70px;
     margin-top: 60px;
}
.tags h3 {
     color: black;
     font-weight: 300;
}
.tags ul {
     display: flex;
     font-size: 12px;
}
.tags ul li {
     margin-left: 4px;
}
.tags a {
     transition: 0.5s;
}
.tags a:hover {
     color: var(--primary-color);
}
.number-table {
     margin-top: 60px;
}
.number-table .number-1 {
     display: flex;
     justify-content: center;
     align-items: center;
}
.number-table a {
     margin-left: 30px;
     transition: 0.5s;
}
.number-table a:hover {
     color: var(--primary-color);
}
.number-table .number-2 {
     color: var(--primary-color);
}
